.topHeaderContainer {
  height: 93vh;
  width: auto;
  background-image: url("../../../images//wave-haikei.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-top: 5rem;
  font-family: georgia, serif;
  font-style: italic;
  font-weight: normal;
  padding-top: 6rem !important;
}
.title {
  font-size: 2rem;
  color: red;
}
.asideTitle{
  justify-content: center !important;
  align-items: center;
  width: 42rem;
  padding: 2rem;
  margin-left: 19rem;
  display: table-footer-group;
}
.headerImgContainer{
  width: 50%;
  border-radius: 50% !important;
  border-left: 3px solid orangered;
  transition: 0.3s ease all;
}
.headerImgContainer:hover{

}
.headerImg{
  border-radius: 100% !important;
  transition: 0.3s ease all;
  width: 50% !important;
  margin-top: 6px

}
.headerImg:hover{
  
  -moz-transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -o-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.1);
  overflow: hidden;
}
@media screen and (max-width:700px) {
  .topHeaderContainer{
    width: 100% !important;
    margin-top: -1px;
    padding-top: 5px;
    height: 100%;
    padding-bottom: 5rem;
    background-image: url("../../../images/81668217_2563298910615645_5029881387696521216_n.jpg");
    background-repeat: no-repeat;
    background-position:center left;
  }
  .headerImg{
    display: none
  }
  .typical{
    font-size:  19px !important;
    color:red !important
  }
  .headerTitle {
    width: 50%;
  }
}
@media screen and (max-width: 900px){
  .topHeaderContainer{
    width: 100% !important;
    height: 100%;
    padding-bottom:5rem;
    margin-top: -1px;
    padding-top: 5px;
    height: 100%;
  }
  .headerImg{
    width: 118% !important;
    height: 90%
  }
  .typical{
    font-size:  19px !important;
    color:red !important
  }
  
  .typicalSide{
    font-size:20px
  }
}
@media screen and (max-width: 1480px){
  .topHeaderContainer{
    width: 100% !important;
    margin-top: -1px;
    padding-top: 5px;
    height: 100%;
  }
  .headerImg{
    width: 118% !important;
    height: 90%
  }
  .typical{
    font-size:  19px !important;
    color:red !important
  }
  
}