.aboutContainer{
    height:100vh;
    background:#001122;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: georgia, serif;
    color: #000000;
    font-style: italic;
    font-weight: normal;
  
}
