.aboutContainer{
    height:100vh;
    background:#001122;
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: georgia, serif;
    color: #000000;
    font-style: italic;
    font-weight: normal;
  
}
@media  screen and (max-width: 700px){
    .aboutContainer{
        width: 100% !important;
        height: 100%
    }
    .aboutWrapper{
        display:block !important;
    }
    .aboutImg{
        width: 100% !important;
    }
}