.progressContainer {
  height: 93vh;
  background-image: url("../../../images/Group_33094_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-family: georgia, serif;
  font-size: 17px;
  color: #000000;
  font-style: italic;
  font-weight: normal;
  padding-top: 5rem;
}
@media  screen and (max-width: 700px) {
  .progressContainer{
    width: 100% !important;
    height: 100%  !important;
  }
  .skillDevArea{
    margin-top: 5rem;
  }
}