.ProjectContainer{
    height:93vh;
    background-image: url("../../../images/blob-scene-haikei.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}